 *{
    margin: 0;
    padding: 0;
max-width:100%;
 
 }

/* navbar section */
.navbar{

background-color: #1A0B2E;
height: 70px;




}

.navbar,nav{
 display: flex;
margin: 0 auto;
padding-top: 5px;



 /* margin: 0 auto; */

}
nav{

  width:71%;
    justify-content: space-between;

}

.tech{
/* margin-left: 200px;
margin-right: 314px;
padding-top:30px;
padding-bottom: 30px; */
}
.tech h2 {
    font-size: 2rem;
}
nav ul li {
list-style:none;

}
nav ul{
/* padding-right: 314px;   */
}

 ul li a{
text-decoration: none;


}
nav ,ul ,li, a{
gap: 20px;
color: #FFFFFF;
margin-top: 7px;
}
nav ul{
display: flex;

}
 nav.Subscribe ,button{
  background:  var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));

/* background-color: rgba(251, 9, 180, 1); */
color: #FFFFFF;
font-size: 1rem;
width: 135px;
height: 44px;
border-radius: 17px;
cursor: pointer;



} 
/* background */
.backgrounds{
   background:url("assets/hero-circle.png"),url("assets/hero-bg.png");
 height:700px; 


background-position: center 25%;


    background-repeat: no-repeat, no-repeat;



}
.images , img{
padding-left: 350px;
padding-top:  85px;

}
.new{
margin-top: -220px;
margin-left: 870px;
   background-color: #00FF88;
   font-size: 18px;
   width: 50px;

   border-radius: 9px;
   text-align: center;
}
.TechWave{
text-align: center;
margin-top: 350px;
} 
.tech-btn{
  margin-top: 20px;
  display: flex; 
  justify-content: center;
  gap: 10px;

}
.Tech-content h1{
  color:#FFFFFF;
  font-size: 60px;
  margin-bottom: 5px;
}
.Tech-content p{
  color:#FFFFFF;
  font-size: 16px;
}
.tech-btn .Subscribe{
  color: #00FF88;
  
}
/* about-section */
.about-section{
  background-color:#1A0B2E ;
}
.container{
  padding-top: 160px;
   text-align: center;
padding-bottom: 60px;
}
.about-containar{
  display: flex;
  justify-content: center;
}
.about h1{
  color: #FFFFFF;
  font-size: 48px;
  margin-bottom: 5px;
}
.about p{
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom:160px ;
}
.about-containar{
  gap: 80px;

}
.about-containar .box h1{
  color: #00FF88;
  font-size: 48px;
}
.about-containar .box p{
  color: #FFFFFF;
}

   /* <!-- choose tech --> */
   .ccontainer{
    background-color:#230E3D ;
padding-bottom: 50px;


   }
 .Tech-content ,.h{
    padding-top: 50px;
    color:#FFFFFF;
    font-size: 48px;
  

    text-align: center;
    margin-bottom: 10px;
   }
   .bentro-grid{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  

    grid-template-areas:
    "tall wide1 wide1"
    "tall wide2 wide2"
    "bottomL bottomL bottomR"
    ;
   }
.Premium-audio{grid-area:tall;}
.mobaile{grid-area: wide1;}
.global{grid-area: wide2;}
.exclusive{grid-area: bottomL;}
.rich{grid-area:bottomR;}

.card-wide{
   display: flex;
  align-items: center; 
  height:225px ;
  width: 790px;
 padding-left:-2000px;
 
}
.card-audio{
 

  width: 280px;
  height: 420px;
  
  
}
.card{
 
  /* margin: 0 auto; */
margin: 0 auto;
background-color: #1a0b3b;
border-radius: 10px;
margin-bottom: 10px;


}
.card h2{
color:#FFFFFF;
font-size: 24px;
margin-bottom: 10px;
}
.card p{
  color: #FFFFFF;
  font-size: 16px;

}
/* host */
.host{
display: flex;
justify-content: center;
}
.banner-section{
background-color: #1A0B2E;
}
/* .image-content , img{
margin-left: -150px;
} */
.img-icon img{

 margin-left: -300px;
 margin-top:-200px ;


}
.footer{
     background:url("assets/hero-bg.png");
 height:500px; 


    background-repeat: no-repeat;
   background-size: cover;

}

@media screen and (max-width:570px) {
  
  nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 20px;

  }
  .nav-link{display: none;}
  .backgrounds{

    
  }
  .images , img{
padding-left: 80px;
padding-top:  80px;

}
.new{
margin-top: -100px;
margin-left: 250px;

}
.background{
text-align: center;
padding: 20px 40px;

}
.Tech-content h1{font-size: 3rem; margin: 10px 0;}

.tech-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.about{
  text-align: center;
  padding: 20px;
}
.about h1{font-size: 30px;}
.about p{font-size: 14px; line-height: 1.6;}

.about-containar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 20px;
  padding: 20px;
}
.box h1{color:#00ffaa}

.bentro-grid{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
width: : 400px;
  margin-right:100px;
}
.icon ,img{
  /* margin-left:100px; */
}

.card{
  width: 100%;
  margin: 0;
  padding: 25px;
  background: #1a0a2e;
  border-radius: 15px;
  text-align: lef !important;
}


/* .card img{margin-left: 0px;width: 40px;} */


.episode-content {
        display: flex;
        flex-direction: column;

        gap: 10px;
        width: 300px;
        margin-left: 50px;
    

    }

    .video {
        width: 100% !important;
    }

    .video iframe {
        width: 100% !important;
        height: 230px;
        
    }
    .epi-content{
      border-radius: 0px;
      margin-top: -22px;
    }
    .host{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .img-icon{
      display: flex;
    }
    .host ,img{
    margin-bottom: -150px;

    
    }
 .foot{
  margin-top: 50px;
 }
 .foot {
  font-size: 24px;
 
 }

}




.episode-content{
  display: flex;
justify-content: center;
gap: 10px;
  
}
.video{
  width: 380px;
  height: 440px;

 
}
.epi-content{
  background-color: #250D44;
   width: 300px;
   border-radius: 5px;

}
.epi-conten , h3{
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 5px;
}
.epi-conten , p{
color: #FFFFFF;
font-size: 16px;
}
.epi-conten , span{
  color: #00FF88;
}